<?xml version="1.0" ?>

<robot name="delivery"  xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <!-- Wheels -->
  <gazebo reference="front_left_wheel">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.8</mu2>
            <fdir1 gz:expressed_in="base_link">1 1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="front_right_wheel">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.8</mu2>
            <fdir1 gz:expressed_in="base_link">1 -1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="back_left_wheel">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.8</mu2>
            <fdir1 gz:expressed_in="base_link">-1 1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="back_right_wheel">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0.8</mu2>
            <fdir1 gz:expressed_in="base_link">-1 -1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
  
  <gazebo>
    <xacro:if value="$(arg is_ignition)">
      <plugin 
          filename="ignition-joint-state-publisher-system" 
          name="ignition::systems::JointStatePublisher">
          <joint_name>front_left_wheel_joint</joint_name>
          <joint_name>front_right_wheel_joint</joint_name>
          <joint_name>back_left_wheel_joint</joint_name>
          <joint_name>back_right_wheel_joint</joint_name>

      </plugin>
      

    </xacro:if>
    <xacro:unless value="$(arg is_ignition)">
     <plugin 
        filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
          <joint_name>front_left_wheel_joint</joint_name>
          <joint_name>front_right_wheel_joint</joint_name>
          <joint_name>back_left_wheel_joint</joint_name>
          <joint_name>back_right_wheel_joint</joint_name>
      </plugin>
    </xacro:unless>
  </gazebo>

  <!-- ROS 2 Control -->
  <gazebo>
    <!-- ROS 2 Humble -->
    <xacro:if value="$(arg is_ignition)">
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find delivery_controller)/config/delivery_controllers.yaml</parameters>
      </plugin>
      
      <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
      </plugin>
      <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>


    </xacro:if>

    <!-- ROS 2 Iron or above -->
    <xacro:unless value="$(arg is_ignition)">
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find delivery_controller)/config/delivery_controllers.yaml</parameters>
      </plugin>
      <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
      </plugin>
      <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>

    </xacro:unless>
  </gazebo>


  <!-- IMU -->
  <gazebo reference="imu_link">
    <sensor name="imu" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <gz_frame_id>imu_link</gz_frame_id>
        <topic>imu</topic>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
    </sensor>
  </gazebo>

   <!-- 2D Laser Sensor -->
  <gazebo reference="laser_link">
    <sensor name="lidar" type="gpu_lidar">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <topic>scan</topic>
      <update_rate>5</update_rate>
      <gz_frame_id>laser_link</gz_frame_id>
      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1.00000</resolution>
            <min_angle>0.000000</min_angle>
            <max_angle>6.280000</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120000</min>
          <max>12.0</max>
          <resolution>0.02</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </lidar>
    </sensor>
  </gazebo>


  <!-- <gazebo>
    <xacro:if value="$(arg is_ignition)">
      <plugin
          filename="ign-sim-mecanum-drive-system"
          name="libign::sim::systems::MecanumDrive">
          <front_left_joint>front_left_wheel_joint</front_left_joint>
          <front_right_joint>front_right_wheel_joint</front_right_joint>
          <back_left_joint>back_left_wheel_joint</back_left_joint>
          <back_right_joint>back_right_wheel_joint</back_right_joint>
          <wheel_separation>0.55</wheel_separation>
          <wheelbase>0.39442</wheelbase>
          <wheel_radius>0.05</wheel_radius>
          <min_acceleration>-5</min_acceleration>
          <max_acceleration>5</max_acceleration>
        </plugin>
      
      </xacro:if>
    
    
    
    <xacro:unless value="$(arg is_ignition)">
      <plugin
          filename="gz-sim-mecanum-drive-system"
          name="gz::sim::systems::MecanumDrive">
          <front_left_joint>front_left_wheel_joint</front_left_joint>
          <front_right_joint>front_right_wheel_joint</front_right_joint>
          <back_left_joint>back_left_wheel_joint</back_left_joint>
          <back_right_joint>back_right_wheel_joint</back_right_joint>
          <wheel_separation>0.55</wheel_separation>
          <wheelbase>0.39442</wheelbase>
          <wheel_radius>0.05</wheel_radius>
          <min_acceleration>-5</min_acceleration>
          <max_acceleration>5</max_acceleration>
        </plugin>
    </xacro:unless>

  </gazebo> -->


</robot>
