<?xml version="1.0" ?>

<robot name="delivery"  xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Wheels -->
  <gazebo reference="front_left_wheel">
    <mu1>1.0</mu1>
    <mu2>0.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>1000.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>0.7071 0.7071 0</fdir1>
  </gazebo>

  <gazebo reference="front_right_wheel">
    <mu1>1.0</mu1>
    <mu2>0.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>1000.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>-0.7071 0.7071 0</fdir1>
  </gazebo>

  <gazebo reference="back_left_wheel">
    <mu1>1.0</mu1>
    <mu2>0.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>1000.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>-0.7071 -0.7071 0</fdir1>
  </gazebo>

  <gazebo reference="back_right_wheel">
    <mu1>1.0</mu1>
    <mu2>0.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>1000.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>0.7071 -0.7071 0</fdir1>
  </gazebo>
  
  <gazebo>
    <xacro:if value="$(arg is_ignition)">
      <plugin 
          filename="ign-joint-state-publisher-system" 
          name="ign::systems::JointStatePublisher">
          <joint_name>front_left_wheel_joint</joint_name>
          <joint_name>front_right_wheel_joint</joint_name>
          <joint_name>back_left_wheel_joint</joint_name>
          <joint_name>back_right_wheel_joint</joint_name>

      </plugin>
      

    </xacro:if>
    <xacro:unless value="$(arg is_ignition)">
     <plugin 
        filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
          <joint_name>front_left_wheel_joint</joint_name>
          <joint_name>front_right_wheel_joint</joint_name>
          <joint_name>back_left_wheel_joint</joint_name>
          <joint_name>back_right_wheel_joint</joint_name>
      </plugin>
    </xacro:unless>
  </gazebo>

  <!-- ROS 2 Control -->
  <gazebo>
    <!-- ROS 2 Humble -->
    <xacro:if value="$(arg is_ignition)">
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find delivery_controller)/config/delivery_controllers.yaml</parameters>
      </plugin>
    </xacro:if>

    <!-- ROS 2 Iron or above -->
    <xacro:unless value="$(arg is_ignition)">
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find delivery_controller)/config/delivery_controllers.yaml</parameters>
      </plugin>
    </xacro:unless>
  </gazebo>




</robot>
