<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="wheel_control" params="side">
            <joint name="${side}_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-50</param>
                    <param name="max">50</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
    </xacro:macro>
    <ros2_control name="MobileSystem" type="system">

        <xacro:if value="$(arg is_ignition)">
            <hardware>
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>  
        </xacro:if>
        <xacro:unless value="$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware> 
        </xacro:unless>
        <xacro:wheel_control side="front_left"  />
        <xacro:wheel_control side="front_right"  />
        <xacro:wheel_control side="back_left" />
        <xacro:wheel_control side="back_right" />

    </ros2_control>

</robot>