ekf_filter_node:
  ros__parameters:

    frequency: 10.0
    sensor_timeout: 0.1
    two_d_mode: true

    publish_tf: true
    publish_acceleration: false
    print_diagnostics: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_footprint
    world_frame: odom
    publish_accleleration: false

    odom0: mecanum_controller/odom_throttled
    odom0_config: [false, false, false,
                       false, false, false,
                       true, true, false,
                       false, false, true,
                       false, false, false]

    odom0_queue_size: 1
    odom0_differential: false
    odom0_relative: true


    imu0: imu/data_throttled
    imu0_config: [false, false, false,
                      false, false, false,
                      false, false, false,
                      false, false, true,
                      true, true, false]

    imu0_queue_size: 1
    imu0_differential: false
    imu0_relative: true
    imu0_remove_gravitational_acceleration: true



  
