<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="delivery">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import delivery urdf file -->
    <xacro:include filename="$(find delivery_description)/urdf/delivery_mobile_base.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="delivery.ros2_control.xacro" />


    <xacro:delivery_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
